
  

  
  .destination img {
    width: 100%;
    border-radius: 10px;
  }
  
  .destination h3 {
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  .destination p {
    margin-top: 10px;
    font-size: 1em;
  }
  